.black-box{
    height: 400px;
    width: 1200px;
    background-color: #2D2926;
    position: relative;
}
.black-box > .yellow-box{
    height: 400px;
    width: 400px;
    background-color: #FFCD00;
    position: absolute;
    left: 400px;
}
.black-box > .red-box{
    height: 400px;
    width: 400px;
    background-color: #C8102E;
    position: absolute;
    left: 800px;
}